{% extends "base.html" %}
{% load url from future %}

{% block content %}


<div id="loginContainer">
  <h2>Sign in to Project DBN</h2>
  {% if form.errors %}
  <p style="color: #920202; font-size: 12px; font-weight: bold;">Your username and password didn't match. Please try again.</p>
  {% endif %}

  <form class="login-form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <table id="login-table" style="margin: 20px auto;">
    <tr>
            <td align="right">
                <div class="fieldWrapper" style="font-weight: bold; margin-right: 10px;">
                    {{ form.username.label_tag }}
                </div>
            </td>
            <td align="left">
                <div class="fieldWrapper">
                    <span class="glyphicon glyphicon-user"></span>
                    {{ form.username }}
                </div>
            </td>
    </tr>
    <tr>
        <div class="fieldWrapper">
            <td align="right">
                <div class="fieldWrapper" style="font-weight: bold; margin-right: 10px;">
                    {{ form.password.label_tag }}
                </div>
            </td>
            <td align="left">
                <div class="fieldWrapper">
                    <span class="glyphicon glyphicon-lock"></span>
                    {{ form.password }}
                </div>
            </td>
        </div>
    </tr>
    </table>

    <div>
        <button type="submit" class="btn btn-success">Login <span class="glyphicon glyphicon-share-alt"></span></button>
        <a href="{% url 'registration_register' %}" class="btn btn-success">Sign Up <span class="glyphicon glyphicon-ok-sign"></span></a>
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </form>
</div>


{% endblock %}
