{% extends "base.html" %}

{%block scripts%}
 <script>
    $(function() {
        $( "#tabs" ).tabs({
        collapsible: true
        });
    });
</script>
{% endblock %}

{%block title%}
{{ prof_user.username}}'s Profile
{% endblock %}

{% block content %}

<div class="user-profile" style="float: left; width: 250px;">
    This is {{ prof_user.username }}'s profile page. {{ prof_user.username }} joined this DBN website on {{ prof_user.date_joined|date:"D d M Y" }}.
    <br>
    <br>
    Please look at and try out {{ prof_user.username }}'s {{ public_dbns|length }} public
    {% if public_dbns|length == 1 %}
        DBN!
    {% else %}
        DBNs!
    {% endif %}
</div>

<div id="tabs" style="width:600px; float: right;">
    <ul>
        <li><a href="#tabs-public">Public DBNs</a></li>
        {% if user.username == prof_user.username %}
            <li><a href="#tabs-private">Private DBNs</a></li>
        {% endif %}
    </ul>

    <div id="tabs-public">
        <div id="public-dbns-table">
            <div class="public-dbns-table-head">
                <table class="light-table" style="width: 535px" cellpadding="0" cellspacing="0">
                  <tr>
                    <th width="40%"><b>Name</b></th>
                    <th width="20%"><b>Created</b></th>
                    <th width="20%"><b>Trained</b></th>
                    <th width="20%"><b>Training</b></th>
                  </tr>
                </table>
            </div>

            <div style="overflow-x: hidden; overflow-y: scroll;height: 260px; width: 550px;">
              <div class="public-dbns-table-data">
                  <table class="light-table" style="width: 535px;border: thin solid black;border-collapse:collapse;" cellpadding="0" cellspacing="0">
                    {% for d in public_dbns %}
                        <tr>
                            <td style="border: thin solid black; border-collapse: collapse;" width="40%">{{ d.name }}</td>
                            <td style="border: thin solid black; border-collapse: collapse;" width="20%">{{ d.created }}</td>
                            <td style="border: thin solid black; border-collapse: collapse;" width="20%">{{ d.trained }}</td>
                            <td style="border: thin solid black; border-collapse: collapse;" width="20%">{{ d.training }}</td>
                        </tr>
                    {% endfor %}
                  </table>
              </div>
            </div>
        </div>
    </div>

    {% if user.username == prof_user.username %}
    <div id="tabs-private">
        <div id="private-dbns-table">
            <div class="private-dbns-table-head">
                <table class="light-table" style="width: 535px" cellpadding="0" cellspacing="0">
                  <tr>
                    <th width="40%"><b>Name</b></th>
                    <th width="20%"><b>Created</b></th>
                    <th width="20%"><b>Trained</b></th>
                    <th width="20%"><b>Training</b></th>
                  </tr>
                </table>
            </div>

            <div style="overflow-x: hidden; overflow-y: scroll;height: 260px; width: 550px;">
              <div class="private-dbns-table-data">
                  <table class="light-table" style="width: 535px;border: thin solid black;border-collapse:collapse;" cellpadding="0" cellspacing="0">
                    {% for d in private_dbns %}
                        <tr>
                            <td style="border: thin solid black; border-collapse: collapse;" width="40%">{{ d.name }}</td>
                            <td style="border: thin solid black; border-collapse: collapse;" width="20%">{{ d.created }}</td>
                            <td style="border: thin solid black; border-collapse: collapse;" width="20%">{{ d.trained }}</td>
                            <td style="border: thin solid black; border-collapse: collapse;" width="20%">{{ d.training }}</td>
                        </tr>
                    {% endfor %}
                  </table>
              </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}