{% extends "base.html" %}

{%block title%}
About
{% endblock %}

{% block content %}

<div class="justified-text">
This website was created by six third year Computing and Joint Maths and Computing students from Imperial College London as a means to present their investigation and implementation of Deep Belief Networks for their Group Project.<br><br>

It contains a link to an open source implementation that people are free to use.<br><br>

It also allows users to create their own DBNs and provides information to those who wish to learn more behind the mechanics of DBNs.<br><br>

We would like to thank our supervisor Abbas Edalat for his guidance and thoughts throughout this project.<br>
</div>

{% endblock %}
