{% extends "base.html" %}

{%block scripts%}
 <script>
    $(function() {
        $( "#tabs" ).tabs({
        collapsible: true
        });
    });
</script>
{% endblock %}

{%block title%}
Admin
{% endblock %}

{% block content %}
This is the admin page.

From here, you will be able to see accounts and DBNs and view, delete and edit them.

There will be links to a DBN table and an account table.

<div id="tabs">
    <ul>
        <li><a href="#tabs-users">User Accounts</a></li>
        <li><a href="#tabs-dbns">Deep Belief Networks</a></li>
    </ul>

    <div id="tabs-users">
        <p><strong>This will hold the information for the Users.</strong></p>
        <div id="users-table">
            <div class="users-table-head">
                <table class="light-table" style="width: 98.5%" cellpadding="0" cellspacing="0">
                  <tr>
                    <th width="25%"><b>Username</b></th>
                    <th width="25%"><b>Email</b></th>
                    <th width="25%"><b>Admin</b></th>
                    <th width="25%"><b>Last Login</b></th>
                  </tr>
                </table>
            </div>

            <div style="overflow-x: hidden; overflow-y: scroll;height: 560px; width: 100%;">
              <div class="users-table-data">
                  <table class="light-table" style="width: 100%;border: thin solid black;border-collapse:collapse;" cellpadding="0" cellspacing="0">
                    {% for u in users %}
                        <tr>
                            <td style="border: thin solid black; border-collapse: collapse;" width="25%">{{ u.username }}</td>
                            <td style="border: thin solid black; border-collapse: collapse;" width="25%">{{ u.email }}</td>
                            <td style="border: thin solid black; border-collapse: collapse;" width="25%">{{ u.is_superuser }}</td>
                            <td style="border: thin solid black; border-collapse: collapse;" width="25%">{{ u.last_login }}</td>
                        </tr>
                    {% endfor %}
                  </table>
              </div>
            </div>
        </div>
    </div>

    <div id="tabs-dbns">
        <p><strong>This will hold the information for the DBNs.</strong></p>
        <div id="dbns-table">
            <div class="dbns-table-head">
                <table class="light-table" style="width: 98.5%" cellpadding="0" cellspacing="0">
                  <tr>
                    <th width="20%"><b>Name</b></th>
                    <th width="20%"><b>Creator</b></th>
                    <th width="15%"><b>Created</b></th>
                    <th width="15%"><b>Private</b></th>
                    <th width="15%"><b>Trained</b></th>
                    <th width="15%"><b>Training</b></th>
                  </tr>
                </table>
            </div>

            <div style="overflow-x: hidden; overflow-y: scroll;height: 560px; width: 100%;">
              <div class="dbns-table-data">
                  <table class="light-table" style="width: 100%;border: thin solid black;border-collapse:collapse;" cellpadding="0" cellspacing="0">
                    {% for d in dbns %}
                        <tr>
                            <td style="border: thin solid black; border-collapse: collapse;" width="20%">{{ d.name }}</td>
                            <td style="border: thin solid black; border-collapse: collapse;" width="20%">{{ d.creator.username }}</td>
                            <td style="border: thin solid black; border-collapse: collapse;" width="15%">{{ d.created }}</td>
                            <td style="border: thin solid black; border-collapse: collapse;" width="15%">{{ d.private }}</td>
                            <td style="border: thin solid black; border-collapse: collapse;" width="15%">{{ d.trained }}</td>
                            <td style="border: thin solid black; border-collapse: collapse;" width="15%">{{ d.training }}</td>
                        </tr>
                    {% endfor %}
                  </table>
              </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}