{% load i18n %}
{% load staticfiles %}

<html  lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Files -->
    <link href="{% static 'libs/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'libs/css/jquery-ui.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/css/screen.css' %}" media="screen, projection" rel="stylesheet" type="text/css" />
    {% block css %}{% endblock %}
    <!-- JavaScript Files -->
    <script src="{% static 'libs/js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'libs/js/jquery-ui.js' %}"></script>
    <script src="{% static 'libs/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'libs/js/rbm-website.js' %}"></script>
    {% block scripts %}{% endblock %}

    <link rel="shortcut icon" href="{% static 'libs/img/favicon.ico' %}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <title>DBN - {% block title %}{% endblock %}</title>
</head>

<body>

      <!-- Static navbar -->
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'faq' %}">Project DBN</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'tutorial' %}">Tutorial</a></li>
              {% if user.is_authenticated %}
              <li><a href="{% url 'index' %}">{% trans "DBN List" %}</a></li>
              <li><a href="{% url 'create' %}">{% trans "Create DBN" %}</a></li>
              <li><a href="{% url 'view_user' user.username %}">{% trans "View your Profile" %}</a></li>
              {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">

              {% if user.is_authenticated %}
              <li><a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a> </li>
              {% else %}
              <form class="navbar-form navbar-right" role="form" action="{% url 'auth_login' %}">
                <button type="submit" class="btn btn-success">Sign in</button>
              </form>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

    <div class="container">
    <div class="container" id="container-main">
        <br><br><br><br><br>

        <div id="message-container">
          {% if messages %}
            <ul class="messages">
             {% for message in messages %}
             <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
             {% endfor %}
             </ul>
          {% endif %}
        </div>
        <div id="content-container">
            {% block content %}{% endblock %}
        </div>
        <div id="footer-container">
        <div id="footer">
          <table width="100%">
          <tr>
            <td class="leftcell">
              <p class="text-left">
              Copyright 2014, Imperial College Computing
              <br><a href="{% url 'faq' %}">FAQ</a>
              </p>
            </td>
            <td class="rightcell">
              <p class="text-right">
              <a href="{% url 'terms' %}">Terms &amp; Conditions</a>
              <br><a href="{% url 'privacy' %}">Privacy</a>
              </p>
            </td>
          </tr>
          </table>
        </div>
        </div>
    </div>
    </div>


</body>


</html>
