{% extends "base.html" %}

{%block title%}
FAQ
{% endblock %}

{% block content %}

<div class="justified-text">
<h1>Frequently Asked Questions!</h1>
<br>
<br>
If there is anything you want to know about the website or DBNs please check below to see if you question has already been answered. If you can't find an answer, consider emailing one of us!
<br>
<br>
<h2>Who are we?</h2>
<br>
At the time of writing, we are six third year JMC and Computing students from Imperial College London. This website is part of our third year group project and aims to provide a platform for easily creating, testing and training Deep Belief Networks based on stacked Restricted Boltzmann Machines.
<br>
<br>
<br>
<h2>What does this website do?</h2>
<br>
With this website, you can create your own Deep Belief Networks, train them on your own created training set and then use them to classify data! You can also view the creations of other users; comparing how their DBNs classify data with yours.
<br><br>
Thats not all though! If you are interested in learning more behind Deep Belief Networks and Restricted Boltzmann Machines we have included a tutorial section where you can find some basic information as well as some useful links. We have also publicised our open source implementation of RBMs and DBNs that is used to power this website!
<br>
<br>
<br>
<h2>How can I get started?</h2>
<br>
To get started, you first need to create an account with us. You can experiment with one of our DBNs on the home page, but to access all of our features, an account is neccessary.
<br><br>
Once you have done this, you can start creating DBNs! First, you need to create a DBN, specifying all the parameters. After that, you can train it by visiting it's profile page. Once it has been trained, you can start using it for data classification!
<br>
<br>
<br>
<h2>I want to re-train my DBN</h2>
<br>
Training DBNs is computationally expensive! Therefore, we only allow a DBN to be trained once on one set of training data. If you wish to use new training data, we suggest that you create a new DBN and train that one. You can always delete your old one if you really want to get rid of it!
<br>
<br>
<br>
<h2>My DBN still hasn't finished training</h2>
<br>
As mentioned earlier, training DBNs is expensive and takes time. We have seen DBNs take upwards of 48 hours to train on large training sets to achieve the best results. Fortunately, we have aimed to minimise the time spent training your DBNs to enhance your experience. This may result in a reduction in accuracy, but we feel that this is compensated for by the much faster training times.
<br><br>
Note that the number of layers, nodes and training images all affect the time take to train the DBN so please keep these values sensible to ensure appropriate training times!
<br><br>
If you do want to train your DBN on a large set of data and you are willing to take the time to train it, you may wish to consider downloading our library and adjusting the parameters to achieve the level of training that you desire!
<br>
<br>
<br>
<h2>I want to use DBNs in my own application</h2>
<br>
No Problem! Please feel free to use any information you find on this website. Additionally, our implementation is all open source so feel free to use it however and wherever you want. A mention of the website would be nice but by no means is required!
<br>
<br>
<br>
<h2>I want to learn more about DBNs</h2>
<br>
If you visit our tutorial section, you will notice we have given a brief background on Deep Belief Networks and Restricted Boltzmann Machines but this is by no means comprehensive. For a more complete overview, you may wish to visit some of the links we have provided or look at our source code to improve your understanding. We recommend the work by <a href="https://www.cs.toronto.edu/~hinton/">Geoffrey Hinton</a> whose research we found to be very helpful.
<br>
<br>
<br>
<h2>How to contact us?</h2><br>
If you have any more questions or queries, you can contact each one of us at the following email addresses:<br><br>
<ul>
<li>Pierre Sutter, ps3111@imperial.ac.uk</li>
<li>Chan Tiffany, twc11@imperial.ac.uk</li>
<li>Nigel Gott, ndg10@imperial.ac.uk</li>
<li>William Nicholson, wjn11@imperial.ac.uk</li>
<li>Cumming James, jbc11@imperial.ac.uk</li>
<li>Biskupiak Maciej, mb4111@imperial.ac.uk</li>
</ul>
<br><h2>Who would we like to thank for his guidance and thoughts throughout this project?</h2><br>
We would like to thank our supervisor Professor Abbas Edalat for his guidance and thoughts throughout this project.<br>
<br>
<br>
<br>
<br>
<br>
</div>

{% endblock %}
