{% extends "base.html" %}

{%block title%}
FAQ
{% endblock %}

{% block content %}

<div class="justified-text">
<h4>Who are we?</h4><br>
At the time of writing, we are six third year Computign and Jointh Maths and Computing from Imperial College London. This website is part of our third year group project and aims to provide a platform for easily creating, testing and training Deep Belief Networks based on stacked Restrcited Boltzmann Machines.
<br><br><h4>How to contact us?</h4><br>
You can contact each one of us at the following email addresses:<br><br>
<ul>
<li>Pierre Sutter, ps3111@imperial.ac.uk</li>
<li>Chan Tiffany, twc11@imperial.ac.uk</li>
<li>Nigel Gott, ndg10@imperial.ac.uk</li>
<li>William Nicholson, wjn11@imperial.ac.uk</li>
<li>Cumming James, jbc11@imperial.ac.uk</li>
<li>Biskupiak Maciej, mb4111@imperial.ac.uk</li>
</ul>
<br><h4>How would we like to thank for his guidance and thoughts throughout this project?</h4><br>
We would like to thank our supervisor Abbas Edalat for his guidance and thoughts throughout this project.<br>

</div>

{% endblock %}
