{% extends "base.html" %}
{%block title%}Home{% endblock %}
{% block content %}

<div class="jumbotron">
Welcome to the DBN Project Homepage.<br> Create, train, configure and share Deep Belief Networks.
</div>
<div class="container" style="width: 500px;">
We aim to provide an intuitive interface for the creation and training of the Deep Belief Networks of your dreams.
<br><br>
We offer you the possibility to specify the configuration of a DBN based on Restricted Boltzmann Machines as well as creating your own training data.

    

    {% if user.is_authenticated %}
    {% else %}
    <div style="margin: 50px 0">
        <a href="{% url 'registration_register' %}" class="btn btn-lg btn-success"> Sign Up <span class="glyphicon glyphicon-ok-sign"></span></a>
    </div>
    {% endif %}
</div>
{% endblock %}
