{% extends "base.html" %}

{%block title%}
Tutorial
{% endblock %}

{% block content %}

<br>
<h4>Code Location</h4>
<br>
All of our code is open source and is currently hosted on GitHub.<br>
<a href="https://github.com/fleurette/RBM">Our implementation of DBN based on RBM.</a>
<br>
<br>

<h4>Ressources</h4>
<br>
The following articles and videos will prove a great help during your journey through DBNs and RBMs:
<br><br>
<ul>
<li><a href="http://www.youtube.com/watch?v=AyzOUbkUf3M">The Next Generation of Neural Networks</a></li>
<li><a href="http://en.wikipedia.org/wiki/Restricted_Boltzmann_machine">Wikipedia Article on RBMs</a></li>
<li><a href="http://blog.echen.me/2011/07/18/introduction-to-restricted-boltzmann-machines/">Introduction to RBMs</a></li>
<li><a href="www.cs.toronto.edu/~hinton/absps/guideTR.pdf">Guide to Training RBMs</a></li>
<li><a href="http://www.youtube.com/watch?v=oHg5SJYRHA0">Great Video on Stacking RBMs</a></li>
<li><a href="http://www.scholarpedia.org/article/Deep_belief_networks">Some resources on Deep Belief Networks</a></li>



{% endblock %}
