{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

{% block css %}
    <link href="{% static 'rbm/css/slider.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="{% static 'rbm/js/pixel_drawer.js' %}"></script>
{% endblock %}

<h2> {{dbn.name}} </h2>

<div id="pixelDrawerContainer">
</div>

<script>
    pixelDrawer = new PixelDrawer($('#pixelDrawerContainer'), {{dbn.width}}, {{dbn.height}}, "classify", {{dbn.labels}}, "{% url 'classify' dbn.id %}", '{{csrf_token}}');
</script>

{% endblock %}
