{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
    <script src="{% static 'rbm/js/pixel_drawer.js' %}"></script>
{% endblock %}

{%block title%}
{{dbn.name}} Classifier
{% endblock %}

{% block content %}

<h1> {{dbn.name}} </h1>

<div id="drawerContainer">
    <div id="pixelDrawerContainer">
    </div>

    <div id="commands">
        <div id="brushContainer">
            <button id="brush" class="btn draw-btn" type="button">
                <img src="{% static 'libs/img/brush.png' %}" alt="BRUSH">
            </button>
        </div>
        <div id="eraserContainer">
            <button id="eraser" class="btn draw-btn" type="button">
                <img src="{% static 'libs/img/eraser.png' %}" alt="ERASER">
            </button>
        </div>
        <div id="smallContainer">
            <button id="small" class="btn draw-btn" type="button">
                <img src="{% static 'libs/img/small.png' %}" alt="SMALL">
            </button>
        </div>
        <div id="mediumContainer">
            <button id="medium" class="btn draw-btn" type="button">
                <img src="{% static 'libs/img/medium.png' %}" alt="MEDIUM">
            </button>
        </div>
        <div id="largeContainer">
            <button id="large" class="btn draw-btn" type="button">
                <img src="{% static 'libs/img/large.png' %}" alt="LARGE">
            </button>
        </div>
        <div id="clearContainer">
            <button id="clear" class="btn draw-btn" type="button">
                <img src="{% static 'libs/img/clear.png' %}" alt="CLEAR">
            </button>
        </div>
        <div id="centreContainer">
            <button id="centre" class="btn draw-btn" type="button">
                <img src="{% static 'libs/img/centre.png' %}" alt="CENTRE">
            </button>
        </div>
    </div>
</div>

<div id="controlContainer">
    <div id="classifyButtonContainer" style="margin:20px 0px;">
        <button id="classifyButton" class="btn" type="button">CLASSIFY</button>
        MOST LIKELY: <span id="maxProbContainer"></span>
    </div>

    <div id="results">
        <div id="probabilities">
            <div id="probs-table">
                <div class="probs-table-head">
                    <table class="light-table" style="width: 300px" cellpadding="0" cellspacing="0">
                      <tr>
                        <th width="40%"><b>Label</b></th>
                        <th width="60%"><b>Probability</b></th>
                      </tr>
                    </table>
                </div>

                <div style="overflow-x: hidden; overflow-y: scroll;height: 150px; width: 315px;">
                    <div class="probs-table-data">
                        <table class="light-table" style="width: 300px;border: thin solid black;border-collapse:collapse;" cellpadding="0" cellspacing="0">

                        {% for label in dbn.label_values %}
                            {% with divName=label|add:"LabelContainer" %}
                            <tr>
                                <td style="border: thin solid black; border-collapse: collapse;" width="40%">{{ label }}</td>
                                <td style="border: thin solid black; border-collapse: collapse;" width="60%"><span id="{{divName}}"></span></td>
                            </tr>
                            {% endwith %}
                        {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>

<script>
    pixelDrawer = new PixelDrawer($('#pixelDrawerContainer'), {{dbn.width}}, {{dbn.height}}, "classify", {{dbn.labels}}, "{% url 'classify' dbn.id %}", '{{csrf_token}}');
</script>

{% endblock %}
