{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
    <script src="{% static 'rbm/js/pixel_drawer.js' %}"></script>
{% endblock %}

{%block title%}
{{dbn.name}} Classifier
{% endblock %}

{% block content %}

<h1> {{dbn.name}} Classifier </h1>
<hr style="background-color: #000000;border-color: #000000"/>
<div style="margin: 20px 0">
    Here, you can draw and submit images which this deep belief network will attempt to classify. The results will be displayed in the table on
    the right, showing the probabilities of each class as well as the most likely result.
    <br><br>
    It might not always get the right result, but if it was trained on a reasonable set of input data and the images you draw are similar to those
    it was trained on, there is around an <span style="font-weight:bold">80%</span> chance that it will obtain the correct result.
    <br><br>
    Please draw your images using the drawing tool provided and when you are ready, click classify to see the result. You can do this as many
    times as you want. It may be useful to centre the image before submitting to improve the results.
</div>
<hr style="background-color: #000000;border-color: #000000"/>

<div id="drawerContainer">
    <h2>Drawing Tool:</h2>
    <div id="pixelDrawerContainer">
    </div>

    <div id="commands">
        <div id="brushContainer">
            <button id="brush" class="btn draw-btn" type="button">
                <img src="{% static 'libs/img/brush.png' %}" alt="BRUSH">
            </button>
        </div>
        <div id="eraserContainer">
            <button id="eraser" class="btn draw-btn" type="button">
                <img src="{% static 'libs/img/eraser.png' %}" alt="ERASER">
            </button>
        </div>
        <div id="smallContainer">
            <button id="small" class="btn draw-btn" type="button">
                <img src="{% static 'libs/img/small.png' %}" alt="SMALL">
            </button>
        </div>
        <div id="mediumContainer">
            <button id="medium" class="btn draw-btn" type="button">
                <img src="{% static 'libs/img/medium.png' %}" alt="MEDIUM">
            </button>
        </div>
        <div id="largeContainer">
            <button id="large" class="btn draw-btn" type="button">
                <img src="{% static 'libs/img/large.png' %}" alt="LARGE">
            </button>
        </div>
        <div id="clearContainer">
            <button id="clear" class="btn draw-btn" type="button">
                <img src="{% static 'libs/img/clear.png' %}" alt="CLEAR">
            </button>
        </div>
        <div id="centreContainer">
            <button id="centre" class="btn draw-btn" type="button">
                <img src="{% static 'libs/img/centre.png' %}" alt="CENTRE">
            </button>
        </div>
    </div>
</div>

<div id="controlContainer">
    <h2>Results:</h2>
    <div id="classifyButtonContainer" style="margin:20px 0px;">
        <button id="classifyButton" type="button" class="btn btn-success btn-sm">Classify <i class="glyhpicon glyphicon-upload"></i></button>
        Most Likely Class: <span id="maxProbContainer" style="color: #0E9A25; font-weight: bold"></span>
    </div>

    <div id="results">
        <div id="probabilities">
            <div id="probs-table">
                <div class="probs-table-head">
                    <table class="light-table" style="width: 300px" cellpadding="0" cellspacing="0">
                      <tr>
                        <th width="40%"><b>Label</b></th>
                        <th width="60%"><b>Probability</b></th>
                      </tr>
                    </table>
                </div>

                <div style="overflow-x: hidden; overflow-y: auto;height: 250px; width: 315px;">
                    <div class="probs-table-data">
                        <table class="light-table" style="width: 300px;border-collapse:collapse;" cellpadding="0" cellspacing="0">

                        {% for label in dbn.label_values %}
                            {% with divName=label|add:"LabelContainer" %}
                            <tr>
                                <td style="border-collapse: collapse;" width="40%">{{ label }}</td>
                                <td style="border-collapse: collapse;" width="60%"><span id="{{divName}}"></span></td>
                            </tr>
                            {% endwith %}
                        {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>

<script>
    pixelDrawer = new PixelDrawer($('#pixelDrawerContainer'), {{dbn.width}}, {{dbn.height}}, "classify", {{dbn.labels}}, "{% url 'classify' dbn.id %}", '{{csrf_token}}');
</script>

{% endblock %}
