{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
    <script src="{% static 'rbm/js/visualiser.js' %}"></script>
{% endblock %}

{%block title%}
Create DBN
{% endblock %}

{% block content %}

<h1>Create a DBN!</h1>
<hr style="background-color: #000000;border-color: #000000"/>
<p>
Here, you can create your own deep belief network! To do so, please fill in the form below with the appropriate data.
We have set the values for the learning rate, image height and image width to appropriate defaults but feel free to change
them to suit your project.
</p>
<br>
<br>
<p>
Don't forget to add additional layers to make sure your DBN can classify effectively. If you are unsure of what values to use,
you can read up about the layers in our tutorial section. A good topology to use is <span style="font-weight: bold">(Input <-> 500 <-> 500 <-> 2000 <-> Labels)</span>
but again, feel free to use your own. You can preview your topology which will adjust automatically according to your values.
</p>
<hr style="background-color: #000000;border-color: #000000"/>
<br>
<br>

<div id="formContainer">
    <h3>DBN Attributes:</h3>
    <br>
    <form class="form-horizontal" action="{% url 'create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <div class="fieldWrapper">
            <label for="id_name" class="text-center">Name:</label>
            <br>
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        <br>
        <div class="fieldWrapper">
            <label for="id_description">Description:</label>
            <br>
            {{ form.description }}
            {{ form.description.errors }}
        </div>
        <br>
        <div class="fieldWrapper">
            <label for="id_private">Private DBN:</label>
            {{ form.private }}
            {{ form.private.errors }}
        </div>
        <br>
        <div class="fieldWrapper">
            <label for="id_learning_rate">Learning Rate:</label>
            <br>
            {{ form.learning_rate }}
            {{ form.learning_rate.errors }}
        </div>
        <br>
        <div class="fieldWrapper">
            <label for="id_height">Image Height:</label>
            <br>
            {{ form.height }}
            {{ form.height.errors }}
        </div>
        <br>
        <div class="fieldWrapper">
            <label for="id_width">Image Width:</label>
            <br>
            {{ form.width }}
            {{ form.width.errors }}
        </div>
        <br>
        <div id="layers">
            <h4>Layers:</h4>
            {% for field in form.visible_fields %}
                {% if "Layer" in field.label %}
                    <div class="fieldWrapper">
                        {{ field.label_tag }} {{ field }}
                        {{ field.errors }}
                    </div>
                    <br>
                {% endif %}
            {% endfor %}
        </div>
        <br>
        <div class="fieldWrapper">
            <label for="id_labels">No. Labels:</label>
            <br>
            {{ form.labels }}
            {{ form.labels.errors }}
        </div>

        <br><br>
        <button type = "button" id="add-layer" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Layer</button>
        <button type = "button" id="delete-layer" class="btn btn-primary"><span class="glyphicon glyphicon-minus"></span> Delete Layer</button>
        <button type = "button" id="preview" class="btn btn-info"><span id="previewIcon" class="glyphicon glyphicon-stop"></span> <span id="previewStatus">Stop preview<span></button>
        <br>
        <br>
        <button class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Create DBN</button>
    </form>
</div>

<div id="canvasContainer" class="preview-canvas">
    <h3>Topology Preview:</h3>
    <br>
</div>

{% endblock %}

{% block create_link_class %} class="active" {% endblock %}
