{% extends "base.html" %}
{% load staticfiles %}

{%block title%}
List
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            var clicked = false;
            $('#id_criteria').click(function () {
                if (!clicked) {
                    clicked = true;
                    $('#id_criteria').val('');
                }
            });
        });
    </script>
{% endblock %}

{% block content %}

<br>
<h2>List of Deep Belief Networks:</h2>
<br>

<p style="margin: 10px 0">
By default, this list shows the ten most recently added DBNs along with an image from their training sets if they are trained.
<br>
<br>
You can search for specific DBNs using the search bar. Your criteria will be matched against the name of the DBN, the creator and it's unique ID number.
<br>
<br>
<span style="font-weight: bold">Note:</span> Private DBNs will not appear in the list!
</p>
<hr style="background-color: #000000;border-color: #000000"/>
<br>
<form method="post" action=".">
    <div id="search-form">
        {% csrf_token %}

        {{ searchForm.criteria }}

        <span class="search-labels">Ordered by:</span> {{ searchForm.order_by }}

        <span class="search-labels">Trained DBNs Only:</span> {{ searchForm.trained }}

        <div style="margin-top: 15px">
            <button class="btn btn-sm">Search <i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
</form>
<hr style="background-color: #000000;border-color: #000000"/>
<br>
<h2>Search Results:</h2>
<br>
<table class="dbn-list-table">
{% for dbn, image in dbns %}
    <tr>
        <td>
            {{dbn.id}}:
        </td>
        <td>
            {% if image == "notTrained" %}
                <img height="40" width="40" style="border-style:solid; border-width:1px; border-color:#000;" src="{% static 'libs/img/notTrained.png' %}" alt="NOTTRAINED">
            {% else %}
                <img alt="Thumbnail" width="40" height="40" style="border-style:solid; border-width:1px; border-color:#000;" src="data:image/png;base64,{{image}}"/>
            {% endif %}
        </td>
        <td>
            <a href="{% url 'view' dbn.id %}"> {{dbn.name}} </a> created by <a href="{% url 'view_user' dbn.creator.username %}">{{dbn.creator.username}}</a>
            Created on {{dbn.created}}
        </td>
    </tr>
{% endfor %}
</table>


{% endblock %}

{% block list_link_class %} class="active" {% endblock %}

