{% extends "base.html" %}
{% load staticfiles %}

{%block title%}
List
{% endblock %}

{% block content %}

<br>
<h2>Recently added deep belief networks:</h2>
<br>

<table class="dbn-list-table">
{% for dbn, image in dbns %}
    <tr>
        <td>
            {{dbn.id}}:
        </td>
        <td>
            {% if image == "notTrained" %}
                <img height="40" width="40" src="{% static 'libs/img/notTrained.png' %}" alt="NOTTRAINED">
            {% else %}
                <img alt="Thumbnail" width="40" height="40" src="data:image/png;base64,{{image}}"/>
            {% endif %}
        </td>
        <td>
            <a href="{% url 'view' dbn.id %}"> {{dbn.name}} </a> created by <a href="{% url 'view_user' dbn.creator.username %}">{{dbn.creator.username}}</a>
            Created on {{dbn.created}}
        </td>
    </tr>
{% endfor %}
</table>


{% endblock %}

{% block list_link_class %} class="active" {% endblock %}

