{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
    <script src="{% static 'rbm/js/topology.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var topology = getTopology();
            var layerCount = {{object.dbn.number_layers}}
            preview(topology, layerCount);
            prevInterval = setInterval(function() {
                preview(topology, layerCount);
            }, 1000);
        });

        function getTopology() {
            var topology = new Array();
            var i = 0;
            {% for t in topology %}
                topology[i] = {{ t }};
                i++
            {% endfor %}
            return topology;
        };
    </script>
{% endblock %}

{%block title%}
{{object.name}}
{% endblock %}

{% block content %}

<div class="profile-details">

    <div id="dbn-details">
        <p class="dbn-title">DBN Name: {{object.name}}</p>

        <p class="dbn-creator">
            Created by <a href="{% url 'view_user' object.creator.username %}">{{ object.creator.username }}</a>
            {% if object.private %}
                (<span class="private-dbn">Private</span>)
            {% else %}
                (<span class="public-dbn">Public</span>)
            {% endif %}
            on <span class="dbn-date">{{object.created}}</span>
        </p>

        <br>
        <div class="dbn-description">
            <h4>Description:</h4>
            <br>
            {{object.description}}
        </div>
        <br>

        <p class="dbn-status">
            {% if object.trained %}
                This DBN has been trained and is ready to classify <a href="{% url 'classify' object.id %}">here</a>!
            {% else %}
                {% if object.training %}
                    This DBN is currently training! Please check back shortly to use it.
                    <div id="detail-spinner" class="centre-div">
                        <div class="bubblingGSmall">
                            <span id="bubblingGSmall_1">
                            </span>
                            <span id="bubblingGSmall_2">
                            </span>
                            <span id="bubblingGSmall_3">
                            </span>
                        </div>
                    </div>
                {% else %}
                    This DBN has not started training yet, please check back later to see if its owner has trained it. Until then feel free to search for a trained DBN to test and use!
                {% endif %}
            {% endif %}
        </p><br>

        {% if object.trained %}
            <p class="dbn-config">
                This DBN takes pictures of size {{object.width}}x{{object.height}} and classifies them into one of the following {{object.labels}}
                {% if object.labels == 1 %}
                    label!
                {% else %}
                    labels!
                {% endif %}

                <div class="class-image-container" style="margin: 10px 0; overflow-y: auto; height: 180px;">
                    <table style="margin: 0 auto;">
                        {% for label, image in image_data.items %}
                            <tr>
                                <td>
                                    {{ label }}
                                </td>
                                <td>
                                    &nbsp - &nbsp
                                </td>
                                <td>
                                    <img alt="Thumbnail" style="margin: 5px 0; border: 1px solid #000000;" width="{{object.width}}" height="{{object.height}}" src="data:image/png;base64,{{image}}"/>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            </p>
        {% endif %}

        {% if object.creator.username == user.username %}
            <h4>DBN Options:</h4>
            <p class="dbn-options">
                {{object.creator.username}}, as the creator of this DBN you can <a href="{% url 'delete' object.id %}">delete</a> or <a href="{% url 'train' object.id %}">train</a> this DBN.<br><br>
            </p>
        {% endif %}
    </div>
</div>

<div id="canvasContainer" class="preview-canvas detail-preview-canvas">
    <h3>Topology Preview:</h3>
    <br>
</div>

{% endblock %}
