{% extends "base.html" %}
{% load staticfiles %}

{%block title%}
Training...
{% endblock %}

{% block content %}

<h4>
Congratulations, you have succesfully set up your DBN training data. Your DBN is currently training, you will automatically receive an email when 
it is ready.
You can also keep checking back on the DBNs page to see if it has finished training.
</h4>

<div id="training-spinner" class="centre-div">
    <div class="bubblingGLarge">
        <span id="bubblingGLarge_1">
        </span>
        <span id="bubblingGLarge_2">
        </span>
        <span id="bubblingGLarge_3">
        </span>
    </div>
</div>

{% endblock %}
