{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


{% block scripts %}
    <script src="{% static 'rbm/js/pixel_drawer.js' %}"></script>
{% endblock %}

<h2> {{rbm.name}} </h2>


<script src="https://code.jquery.com/jquery.js"></script>
<div id="pixelDrawerContainer">
    <button class="btn" id="clear" type="button">Clear</button>
    <button class="btn" id="pen" type="button">Pen</button>
    <button class="btn" id="eraser" type="button">Eraser</button>
    <button class="btn" id="download" type="button">Download</button>
    <script>
      pixelDrawerCanvas("pixelDrawerContainer", 28, 28)
    </script>
</div>

<form action="{% url 'training' %}" method="post">
    {% csrf_token %}
    <input class="btn" value="Train" type="submit" />
</form>

{% endblock %}
