{% extends "base.html" %}
{% load staticfiles %}

{%block title%}
Training...
{% endblock %}

{% block content %}

<h1>
Congratulations, you have succesfully set up your DBN training data and your DBN is currently training!
</h1>
<br>
<br>
<br>
<h4>
Please note that this may take some time as your DBN is being well trained on a relatively large set of training data! Please check back on the profile page of your DBN to see if it has finished training!
</h4>
<br>
<br>
<h4>
In the mean time, feel free to explore other user's DBNs or create and train another one yourself!
</h4>

<div id="training-spinner" class="centre-div">
    <div class="bubblingGLarge">
        <span id="bubblingGLarge_1">
        </span>
        <span id="bubblingGLarge_2">
        </span>
        <span id="bubblingGLarge_3">
        </span>
    </div>
</div>

{% endblock %}
