{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
    <script src="{% static 'rbm/js/pixel_drawer.js' %}"></script>
{% endblock %}

{%block title%}
{{dbn.name}} Trainer
{% endblock %}

{% block content %}

<h2> {{dbn.name}} </h2>


<div id="pixelDrawerContainer">
</div>

<div id="classesRemainingDisplay">
</div>

<div id="imageClasses">
</div>

<script>
    pixelDrawer = new PixelDrawer($('#pixelDrawerContainer'), {{dbn.width}}, {{dbn.height}}, "train", {{dbn.labels}}, "{% url 'train' dbn.id %}", '{{csrf_token}}');
</script>

{% endblock %}
