{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


{% block scripts %}
    <script src="{% static 'rbm/js/pixel_drawer.js' %}"></script>
{% endblock %}

<h2> {{dbn.name}} </h2>


<div id="pixelDrawerContainer">
</div>

<div id="classesRemainingDisplay">
</div>

<div id="imageClasses">
</div>

 <input id="trainButton" class="btn" value="Train" type="button" />

<form action="{% url 'training' %}" method="post">
    {% csrf_token %}
    <input class="btn" value="Train (OLD)" type="submit" />
</form>

<script>
    pixelDrawer = new PixelDrawer($('#pixelDrawerContainer'), {{dbn.width}}, {{dbn.height}}, "train", {{dbn.labels}});
</script>

<script>
    $( "#trainButton" ).click(function() {
        var images = [];

        $('.imageClass').each(function() {
            var classImg = $(this).children("img");
            var data = {
                'image_name': classImg.prop('id'),
                'image_data' : classImg.prop('src')
            }
            images.push(data);
        });

        $.post("{% url 'train' dbn.id %}", {classImages: images, csrfmiddlewaretoken:'{{csrf_token}}' }, function(data, textStatus, xhr) {
           window.location.href = '/rbm/training/'
        });
    });
</script>

{% endblock %}
